* {
	padding: 0;
	margin: 0;
	outline: none;
	color: rgb(200, 200, 200);
	font-family: "Roboto", sans-serif;
	transition: 0.2s ease-out;
	-webkit-tap-highlight-color: transparent;
}
html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--primary-background);
	width: 100vw;
	max-width: 100%;
	background-repeat: repeat;

}

.gap {
	height: 5em;
}
.warning {
	position: fixed;
	height: 100px;
}
.warning-text {
	color: rgb(200, 50, 50);
	font-size: 3em;
}

button {
	width: 100%;
	height: 40px;
	color: var(--primary-accent);
}
/** Slide CSS **/
.slide {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slide-text {
	width: 100%;
}
#header-slide {
	width: 100%;
	height: 100vh;
	background: url("../global_assets/img/tech-design-2.png");
	background-position-y: top;
	backdrop-filter: blur(4px);
	background-attachment: fixed;
}
.slide-header {
	font-size: 5em;
	color: var(--primary-accent);
	text-transform: uppercase;
	margin: 1em 0 0.2em 0;
	text-align: center;
	text-shadow: -2px 2px 5px rgb(60, 60, 60);
}
.slide-body {
	text-indent: 1.5em;
	font-size: 1.5em;
	margin: 1em 4em 0 4em;
}

.slide-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
}
img.slide-photo {
	width: 16em;
	height: 16em;
	border-radius: 8em;
}

.slide-photo-alt {
	margin-top: 1rem;
	font-size: 1.5em;
	color: var(--secondary-color);
}

#footer-slide {
	margin-bottom: 3em;
}

/* content  */
.content {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	margin-top: 2em;
}

/* table */
.sticky-content {
	background: var(--secondary-accent);
	position: sticky;
	top: 1em;
	border-radius: 20px;
	margin-right: 2em;
	margin-top: 1em;
	box-shadow: -10px 7px 10px rgb(0, 0, 0);
}
.table-header {
	padding: 1em;
	font-size: 2em;
	font-weight: bold;
	border-bottom: 1px solid var(--primary-accent);
	border-radius: 20px 20px 5px 5px;
	text-transform: uppercase;
	color: var(--primary-accent);
	backdrop-filter: brightness(0.8);
	text-align: center;
}
.table {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1em;
}
.row {
	display: flex;
	flex-direction: row;
}
.row:last-child {
	border-radius: 0 0 20px 20px;
}
.row:hover {
	backdrop-filter: brightness(0.8);
}
.cell.row-length-2 {
	width: 50% !important;
}
.cell {
	padding: 0.5em;
	text-align: center;
	width: 100%;
	font-size: 1.2em;
}
.cards {
	display: flex;
	flex-direction: column;
}
.card {
	width: 75vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 22px;
	background: rgb(40, 40, 40);
	box-shadow: -10px 7px 10px rgb(0, 0, 0);
	margin: 1em 0 1em 0;
}
.card:hover {
	background: rgb(45, 45, 45);
	transform: translateX(-2%);
}
.card-section:last-child {
	border-radius: 0 0 22px 22px;
}
.card-header {
	font-size: 3em;
	color: var(--primary-accent);
	text-transform: uppercase;
	padding: 1em 1em 0.2em 1em;
	text-align: left;
	text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.363);
	backdrop-filter: brightness(0.7);
	margin-bottom: 0.5em;
	border-bottom: 1px solid var(--primary-accent);
	border-radius: 22px 22px 5px 5px;
}
.card-subheader {
	font-size: 1.7em;
	color: var(--tertiary-accent);
	margin: 0.2em 0 0.2em 0.5em;
	padding: 0 2em 0 2em;
}
.card .card-subheader:not(:first-child) {
	margin-top: 1em;
}
.card-body {
	text-indent: 1.5em;
	padding: 0.5em 2em 2em 2em;
}
/* footer  */
#slide-text-footer {
	width: 100%;
}
/* */
a {
	text-decoration: none;
}
a:hover {
	color: var(--primary-accent);
}

.card-section {
	padding: 1em;
}
.card-section:hover {
	backdrop-filter: brightness(0.8);
}

@media only screen and (max-width: 850px) {
	stickyContent {
		width: 0;
		transform: scale(0);
	}
	.card-header {
		font-size: 2em;
	}
	.card-subheader {
		font-size: 1.5em;
		padding: 0.4em;
		margin: 0;
	}
	.card-body {
		padding: 0.2em;
	}
	.slide-header {
		font-size: 4em;
	}
	.slide-body {
		font-size: 1.5em;
		margin: 0.7em;
	}
}
