:root {
	--primary-color: rgb(200, 200, 200);
	--primary-color: rgb(150, 150, 150);
	--primary-background-color: rgb(20, 20, 20);
	/* --primary-background: var(--primary-background-color) */
	--primary-background: var(--primary-background-color) url(../../img/background-texture.png);

	/** Accent Colours **/
	--primary-accent: #f14444;
	--primary-accent-transparent: #f14444be;
	--secondary-accent: rgb(40, 40, 40);
	--tertiary-accent: #f14461;
	--text-shadow: rgb(60, 60, 60);

	--primary-link: rgb(74, 116, 255);
	--primary-link-visited: rgb(240, 74, 255);
}
