/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--secondary-accent);
	border: 2px solid rgb(50, 50, 50);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-accent);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--primary-accent-transparent);
}
